<h1><%= @user.name %>でログイン</h1>
<h2>icon</h2>
 <%= image_tag @user.icon %>
<p>メールアドレス: <%= @user.email %></p>


<div class='container'>
  <div class="wrappaer col-md-8 col-md-offset-2 col-sm-10">
    <h1>あなたのお気に入り一覧</h1>
      <section class="main-header">
        <% if @favorite_tweets.present? %>
            <% @favorite_tweets.each do |t| %>
              <div class="box30">
                <p><h2><%= t.content %></h2></p>
              </div>
            <% end %>
        <% end %>
      </section>
  </div>
</div>
