<div class='container'>
  <div class="wrappaer col-md-8 col-md-offset-2 col-sm-10">
    <h1>Favorite</h1>
      <section class="main-header">
        <% if @favorite_tweets.present? %>
            <% @favorite_tweets.each do |t| %>
              <div class="box30">
                <div class="box-title">writer：<%= t.user.name %></div>
                <div class="box-title">Title：<%= t.title %></div>
                <p><%= t.content %></p>
              </div>
            <% end %>
        <% end %>
      </section>
  </div>
</div>
