
<div class="bk_img">
  <div class="col-sm-12 col-md-12">
        <img src="logo-1533734634588.png">
  </div>
</div>
    <div class="contents">
        <ul>
            <li class="col-md-6">
              <section class="about">
                <h1>About Twtr</h1>
                <p>
                  Twtrは、受講生のために作成された、教材用アプリです。<br>
                  Twtrを作り終えることで、SecondTeamに参加するための力を身につけることができます。
                </p>
                <p>
                  Twtrを一言で表すと、タスク管理アプリです。<br>
                  チームメンバーが、今どのようなタスクを行っているかリアルタイムで把握することができます。
                </p>
              </section>
            </li>

            <li class="col-md-6">
              <section class=about>
                <section class="function">
                   <h1>Function</h1>
                   <div class="function-images">
                     <div class="function-image">
                       <img src="key.png">
                       <p>ログイン機能（未実装）</p>
                     </div>
                     <div class="function-image">
                       <img src="mails.png">
                       <p>メール送信機能（未実装）</p>
                     </div>
                     <div class="function-image">
                       <img src="girls.png">
                       <p>友達繋がり機能（未実装）</p>
                     </div>
                     <div class="function-image">
                       <img src="comment.png">
                       <p>コメント機能（未実装）</p>
                     </div>
                   </div>
                 </section>
            </li>
        </ul>
    </div>
